
.login_container{
  min-height: 100vh;
  background: #1f2022;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}
input[type='text'], input[type="password"], input[type="email"]{
  width:100%;
  display: block;
  height:35px;
  font-size:1.1em;
  border:none;
  outline:none;
  border-radius:3px;
  margin-block: 15px;
}
label{
  color:white;
}
.confirm_login{
  border: none;
  background: #0c8da0;
  box-shadow: #ffffff20 2px 2px 2px;
  border-radius:3px;
  cursor:pointer;
  padding:10px;
  font-size:1.2em;
  width:100%;
  font-family: 'Abel', sans-serif;
  color:white;
}
button[class='register_type_button']{
  padding:10px;
  font-size:1.2em;
  font-family: 'Abel', sans-serif;
  border: none;
  color:white;
  margin-block:10px;

  width:100%;
  opacity:0.4;
}
.register_error{
  border: solid #b91b1b 3px;
  box-sizing: border-box;
  border-radius: 6px;
  padding:15px;
  margin-bottom: 20px;
  color:white;
  word-break: break-word;

}
