.dashboard_container * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
div[class="dashboard_navigator"] {
  width: 15%;
  min-height: 100vh;
  background: #202224;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  float:left
}
div[class="dashboard_container"]{
  top:0;
  padding-right:5%;
}
button[class='nav_click_menu']{
  width:80%;
  padding:5px;
  background: #2f3236;
  border: #000000 solid 1px;
  color:white;
  font-family: 'Abel', sans-serif;
  font-size:1.1em;
  text-align: left;
  cursor:pointer;
}
button[class='nav_click_menu']:hover{
  background: #393c41;
}

button[class='nav_click_menu_other']{
  width:100%;
  padding:5px;
  padding-inline: 12%;
  background: none;
  border: none;
  color:white;
  font-family: 'Abel', sans-serif;
  font-size:1.1em;
  text-align: left;
  cursor:pointer;
}
button[class='nav_click_menu_other']:hover{
  background: #1e282c;
}
 .material-symbols-outlined {
    font-size:0.7em;
     float: right;
     margin-top:2px;


 }
.dividing_line{
  width:100%;
  height:1px;
  background: #ffffff20;
  margin-block:15px;
}
.unlogged_info{
  font-family: 'Abel', sans-serif;
  color:white;
  font-size:0.7em;
}
